// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #ec9747;
@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

html {
  font-size: 16px;
}

@font-face {
  font-family: "helvetica_neueblack";
  src: url("../fonts/helveticaneueblack-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneueblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neueblack_italic";
  src: url("../fonts/helveticaneueblackitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneueblackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuebold";
  src: url("../fonts/helveticaneuebold-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuebold_italic";
  src: url("../fonts/helveticaneuebolditalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuebolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neueheavy";
  src: url("../fonts/helveticaneueheavy-webfont.woff2") format("woff2"),
    url("../fonts/elveticaneueheavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neueheavy_italic";
  src: url("../fonts/helveticaneueheavyitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneueheavyitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neueitalic";
  src: url("../fonts/helveticaneueitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneueitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuelight";
  src: url("../fonts/helveticaneuelight-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuelight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuelight_italic";
  src: url("../fonts/helveticaneuelightitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuelightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuemedium";
  src: url("../fonts/helveticaneuemedium-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuemedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuemedium_italic";
  src: url("../fonts/helveticaneuemediumitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuemediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 24px;

  line-height: 30px;
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 18px;

    line-height: 30px;
  }
  font-family: "helvetica_neuemedium";
  color: #221f20;
}

p {
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "helvetica_neuemedium";
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 70px;
  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 40px !important;
  }
}

h2,
.h2 {
  font-size: 50px;
  @media (max-width: 768px) {
    font-size: 50px;
    line-height: 50px !important;
  }
}

h3,
.h3 {
  font-size: 40px;
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 38px !important;
  }
}

h4,
.h4 {
  font-size: 32px;
}

.fw-normal {
  font-family: "helvetica_neuelight";
}

.fw-bold {
  font-family: "helvetica_neuebold";
}

.container-small {
  max-width: 1040px;
}

.banner {
  height: 100vh;

  @media (max-width: 768px) {
    min-height: 720px;
  }

  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  //   &::after {
  //     content: "";
  //     position: absolute;

  //     width: 100%;
  //     height: 100%;
  //     left: 0;
  //     top: 0;
  //     background: rgba(0, 0, 0, 0.5);
  //     z-index: 1;
  //   }
}

.navbar {
  padding: 4rem 0;
}

.navbar-toggler {
  border: 0 !important;
  box-shadow: none !important;
}

.mob-menu {
  button.btn-close.text-white {
    font-size: 35px;
    color: #fff;
    opacity: 1;
  }
  background-color: rgba(0, 0, 0, 0.7);
  .mob-menu__items {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    li {
      margin: 16px 0;
      a {
      }
    }
  }
}

.burger {
  .burger__item {
    width: 18px;
    display: block;
    height: 2px;
    background-color: #fff;
    margin: 3px;
  }
}

.navbar-nav {
  .nav-link {
    font-size: 18px;
    color: #fff;
    padding: 0px 16px !important;
  }

  .nav-item .active {
    font-style: italic;
    color: #fff;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 80%;
      background-color: #fff; /* Set the color of the underline */
    }
  }
}

.tag {
  font-size: 1.45rem;
  font-family: "helvetica_neuelight";

  strong {
    font-weight: 600;
    font-family: "helvetica_neuemedium";
  }
}

.highlight {
  font-size: 7.5rem;
  font-style: normal;

  line-height: 7.5rem;
  letter-spacing: -3.6px;
  text-transform: uppercase;
  text-shadow: 1px 1px #00000085;
  font-family: "helvetica_neuemedium_italic";
  span {
    font-family: "helvetica_neuelight";
  }

  @media (max-width: 768px) {
    font-size: 3.375rem;
    letter-spacing: -3.6px;
    line-height: 3.375rem !important;
  }
}

.our-solutions {
  background-image: url(../images/section-bg.png);
  background-repeat: no-repeat;

  background-repeat: no-repeat;
  background-position: center 40px;

  .solution-logo {
    position: absolute;
    right: 0;
    top: 0;
    @media (max-width: 768px) {
      position: relative;
      max-width: 90px;
      float: right;
    }
  }
}

.section {
  padding: 6rem 0;
  @media (max-width: 768px) {
    padding: 3rem 0;
  }
}

.our-solutions__content {
  max-width: 740px;
  clear: both;
}

.mobile-main-box {
  border-radius: 10px;
  border: 1px solid var(--Light-Orange, #ec9747);
  background: var(--Black, #221f20);

  .toggle-heading {
    padding: 24px 16px;
    span {
      font-size: 18px;
      text-transform: uppercase;
    }
    em {
      font-size: 24px;
    }
  }
  .mob-detail {
    padding: 24px 16px;
    h3 {
      font-size: 40px;
      text-transform: capitalize;
      margin-bottom: 24px;
    }
    p {
      font-family: "helvetica_neuelight";
      font-size: 16px;
      line-height: 150%; /* 24px */
      letter-spacing: -0.32px;
      margin-bottom: 24px;
    }
  }

  .mobile-box {
    border-bottom: solid 1px $primary !important;
    &:last-child {
      border-bottom: 0 !important;
    }
  }
}

/* Main Box */

.main-box {
  display: flex;

  margin: 80px auto;
  padding: 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ec9747;
  background: #221f20;
  overflow: hidden;
}

.box {
  min-height: 680px;
  height: 100%;
  padding: 15px;
  border-right: 1px solid #ec9747;
  webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  list-style: none;
  display: flex;

  align-items: flex-start;
}

.box:last-child {
  border-right: 0;
}

.detail {
  width: 85%;
  height: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #fff;
  opacity: 1;
  padding: 30px;
  box-sizing: border-box;
  z-index: -1;
  font-size: 18px;
  font-family: "helvetica_neuelight";
}

.detail h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.bg-black-v2 {
  background-color: #221f20;
}

.box.active {
  width: 70% !important;
}

.box.active .detail {
  opacity: 1;

  z-index: 1;
}

.box span {
  writing-mode: vertical-rl;
  font-size: 20px;
  height: 93%;
  display: flex;

  justify-content: flex-start;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 40px;
  transform: rotate(180deg);
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.box.active span {
  left: 25px;
  right: auto;
  margin: 0;
  font-weight: 600;
}

.multiple-items__img {
  padding: 0 24px;
  @media (max-width: 768px) {
    padding: 0 8px;
  }
}

.heading {
  text-transform: uppercase;
  line-height: 70px;
  span {
    display: block;

    font-family: "helvetica_neuelight";
  }

  em {
    color: #ec9747;
  }
}

.btn {
  padding: 13px 24px;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 18px;
  font-style: normal;

  border-radius: 10px;
  background: #ec9747;
  color: #fff;
  @media (max-width: 768px) {
    padding: 13px 25px;
    font-size: 16px;
  }
}

.btn-transparent {
  background: transparent !important;
  color: #221f20;
}

.feature-video,
.feature-video iframe {
  height: 100vh;
  width: 100%;
  @media (max-width: 500px) {
    height: 100%;
  }
}

.video-wrapper {
  @media (max-width: 500px) {
    border-radius: 10px;
    height: 100%;
    overflow: hidden !important;
  }
}

.feature-video {
  @media (max-width: 500px) {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden !important;
    padding: 10px;
  }
}

.logo-slider div {
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
  // height: 80px;
}

.our-process {
  background: #ec9747;
  background-image: url("../images/lines.svg");
  background-position: top;
  background-size: contain;
  .mb-5 {
    margin-bottom: 80px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  .fs-3 {
    font-size: 2rem;
  }

  .process-heading {
    @media (max-width: 768px) {
      font-size: 1.5rem !important;
      text-transform: none !important;
      color: #000 !important;
    }
  }

  .our-process__item__img {
    margin-right: 40px;
  }
}

.testimonials {
  background: #5e8fb7;
  background-image: url(../images/dot-grid.svg);

  background-position: center 40px;

  overflow: visible;
  position: relative;

  .rating {
    img {
      margin: 0 2px;
    }
  }

  .testimonials__navigation {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    @media (max-width: 768px) {
      padding: 0 8px;
    }
  }

  .review {
    margin: 32px 0;
    p {
      font-size: 40px;
      font-style: normal;
      font-family: "helvetica_neuemedium";
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 24px;
        color: #f2f2f2;
      }
    }
  }

  .profile-img {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    @media (max-width: 768px) {
      position: relative;
    }
  }
}

.author {
  font-family: "helvetica_neuemedium";
  font-size: 22px;
  font-style: normal;
}

.arrow {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  padding: 12px;
  border: solid 1px #f2f2f2;
  cursor: pointer;
  transition: all 600ms;
  &:hover {
    padding: 0px 0px 0px 25px;
    width: 46px;
    height: 46px;
  }
}

img#to-right {
  transform: rotate(180deg);
}

.projects-gallery {
  overflow: hidden;

  img {
    margin: 0 24px;
    @media (max-width: 768px) {
      margin: 0 8px;
    }
  }
}

.pricing {
  background-color: black;
  background-image: url(../images/grid-lines.svg);
  position: relative;

  &:after {
    content: "";
    background: url(/images/plan-bg.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    text-align: start;
    top: 0;
    opacity: 0.4;
    z-index: 1;
  }
}
.pricing__option {
  margin: 40px auto 0 auto;
  max-width: 333px;
  border-radius: 20px;
  background: #f2f2f2;
  padding: 13px;
  padding-top: 40px;
  padding-bottom: 18px;
  h4 {
    color: #ec9747;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
  }

  h5 {
    color: #221f20;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
  }

  p {
    color: #221f20;

    font-size: 14px;

    font-weight: 500;
    line-height: 120%; /* 16.8px */
  }

  hr {
    margin: 80px 0 40px 0;
    opacity: 1;

    border: 0;
    height: 2px;
    background: #ec9747;
    margin: 80px 0 40px 0;
  }

  li {
    color: #221f20;
    line-height: 21px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
    text-transform: uppercase;
    margin-bottom: 9px;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
  }

  .btn {
    border: solid 1px #221f20;
    max-width: 300px;
    margin-top: 50px;
    padding: 12px 24px;

    &:hover {
      background-color: #ec9747 !important;
    }
  }

  &:first-child {
    margin-top: 40px;
  }
  &:last-child {
    margin-top: 45px;
  }
}

.pricing__option.premium {
  margin-top: 0;
  font-size: 14px;
  max-width: 373px;
  padding: 44.805px 17.922px 17.922px 17.922px;

  border: 1.12px solid #221f20;
  border-radius: 22.402px;
  box-shadow: -11.201px 14.562px 22.402px 0px rgba(0, 0, 0, 0.4);
  background: #ec9747;

  color: #221f20;

  h4 {
    color: #221f20;
  }
  hr {
    background-color: #221f20;
    opacity: 1;
  }

  li {
    font-size: 16px;
    background-image: url(../images/check-white.svg);
  }

  .btn {
    background-color: #221f20 !important;
    color: #fff;
    &:hover {
      background-color: #fff !important;
      color: #221f20;
    }
  }
}

.contact {
  background-color: #96bdbe;
  background-image: url(../images/white-dots.png);

  background-position: center 40px;
}
.contact-form {
  border-radius: 20px;
  overflow: hidden;
}
.contact-bg {
  background-image: url(../images/contact-bg.jpeg);
}

form {
  .form-group {
    margin-bottom: 16px;
  }
  label {
    color: var(--Black, #221f20);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.form-control {
  min-height: 24px;
  border: solid 1px #ec9747;
  border-radius: 10px;
}

.site-footer {
  background-color: #221f20;
  color: #fff;
  h6 {
    font-family: "helvetica_neuelight_italic";
    font-size: 18px;
  }
  .nav-item {
    align-items: center;
    color: #fff;
  }
  .nav-item span {
    font-size: 18px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
    padding-top: 10px;
    color: #fff;
  }
  .nav-link {
    font-size: 60px;
    color: #fff !important;
    line-height: normal;
    font-family: "helvetica_neuelight";
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
}
.site-footer {
  .mb-5 {
    margin-bottom: 120px !important;
    @media (max-width: 768px) {
      margin-bottom: 60px !important;
    }
  }
}

.time {
  margin-top: 55px;

  font-family: "helvetica_neuelight";
  li {
    margin-bottom: 24px;
  }
  time {
    font-size: 40px;
    @media (max-width: 768px) {
      font-size: 32px;
    }
    display: block;
    margin: 8px 0;
  }
  .location {
    font-size: 24px;
    display: block;
    margin: 8px 0;
  }
  .tag {
    font-size: 18px;
    margin: 8px 0;
  }
}

.full-heighlight {
  font-size: 140px;
  @media (max-width: 768px) {
    font-size: 48px;
  }
}

.local-logo {
  @media (max-width: 768px) {
    max-width: 190px;
  }
}

.adventure-slider {
  .slick-slide {
    margin: 0 10px;
  }
}
