// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #ec9747;
@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

html {
  font-size: 100%;
}

@font-face {
  font-family: "helvetica_neueblack";
  src: url("../fonts/helveticaneueblack-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneueblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neueblack_italic";
  src: url("../fonts/helveticaneueblackitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneueblackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuebold";
  src: url("../fonts/helveticaneuebold-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuebold_italic";
  src: url("../fonts/helveticaneuebolditalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuebolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neueheavy";
  src: url("../fonts/helveticaneueheavy-webfont.woff2") format("woff2"),
    url("../fonts/elveticaneueheavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neueheavy_italic";
  src: url("../fonts/helveticaneueheavyitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneueheavyitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neueitalic";
  src: url("../fonts/helveticaneueitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneueitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuelight";
  src: url("../fonts/helveticaneuelight-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuelight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuelight_italic";
  src: url("../fonts/helveticaneuelightitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuelightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuemedium";
  src: url("../fonts/helveticaneuemedium-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuemedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_neuemedium_italic";
  src: url("../fonts/helveticaneuemediumitalic-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuemediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  color: #221f20;
}

p {
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "helvetica_neuebold";
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 70px;
}

.container-small {
  max-width: 1040px;
}

.banner {
  height: 100vh;

  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  //   &::after {
  //     content: "";
  //     position: absolute;

  //     width: 100%;
  //     height: 100%;
  //     left: 0;
  //     top: 0;
  //     background: rgba(0, 0, 0, 0.5);
  //     z-index: 1;
  //   }
}

.navbar {
  padding: 4rem 0;
}

.navbar-nav {
  .nav-link {
    font-size: 18px;
    color: #fff;
    padding: 0px 16px !important;
  }

  .nav-item .active {
    font-style: italic;
    color: #fff;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 80%;
      background-color: #fff; /* Set the color of the underline */
    }
  }
}

.tag {
  font-size: 1.45rem;
  font-weight: 400;

  strong {
    font-weight: 600;
  }
}

.highlight {
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120px; /* 100% */
  letter-spacing: -3.6px;
  text-transform: uppercase;
  text-shadow: 1px 1px #00000085;
  strong {
    font-weight: 700;
    font-style: italic;
  }
}

.our-solutions {
  background-image: url(../images/section-bg.png);
  background-repeat: no-repeat;

  background-repeat: no-repeat;
  background-position: center 40px;

  .solution-logo {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.section {
  padding: 6rem 0;
}

.our-solutions__content {
  max-width: 740px;
}

/* Main Box */

.main-box {
  display: flex;

  margin: 80px auto;
  padding: 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ec9747;
  background: #221f20;
  overflow: hidden;
}

.box {
  min-height: 622px;
  padding: 15px;
  border-right: 1px solid #ec9747;
  webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  list-style: none;
  display: flex;

  align-items: flex-start;
}

.box:last-child {
  border-right: 0;
}

.detail {
  width: 85%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  color: #fff;
  opacity: 1;
  padding: 30px;
  box-sizing: border-box;
  z-index: -1;
  font-size: 18px;
}

.detail h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.bg-black-v2 {
  background-color: #221f20;
}

.box.active {
  width: 70% !important;
}

.box.active .detail {
  opacity: 1;

  z-index: 1;
}

.box span {
  writing-mode: vertical-rl;
  font-size: 20px;
  height: 93%;
  display: flex;

  justify-content: flex-start;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 40px;
  transform: rotate(180deg);
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.box.active span {
  left: 25px;
  right: auto;
  margin: 0;
  font-weight: 600;
}

.multiple-items__img {
  padding: 0 24px;
}

.heading {
  text-transform: uppercase;
  line-height: 70px;
  span {
    display: block;
    color: #ec9747;
    font-weight: 500;
    font-style: italic;
  }
}

.btn {
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border-radius: 10px;
  background: var(--Light-Orange, #ec9747);
}

.feature-video,
.feature-video iframe {
  height: 100vh;
  width: 100%;
}

.logo-slider img {
  margin: 0 80px;
  height: 80px;
  width: auto;
}

.our-process {
  background: #ec9747;
  background-image: url("../images/lines.svg");
  background-position: top;
  background-size: contain;
  .mb-5 {
    margin-bottom: 80px;
  }
  .fs-3 {
    font-size: 2rem;
  }
  .our-process__item__img {
    margin-right: 40px;
  }
}

.testimonials {
  background: #5e8fb7;
  background-image: url(../images/dot-grid.svg);

  background-position: center 40px;

  overflow: visible;
  position: relative;

  .rating {
    img {
      margin: 0 2px;
    }
  }

  .testimonials__navigation {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .review {
    margin: 32px 0;
    p {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .profile-img {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
  }
}

.author {
  font-size: 24px;
  font-style: normal;
}

.arrow {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  padding: 12px;
  border: solid 1px #f2f2f2;
  cursor: pointer;
  transition: all 600ms;
  &:hover {
    padding: 0px 0px 0px 25px;
    width: 46px;
    height: 46px;
  }
}

img#to-right {
  transform: rotate(180deg);
}

.projects-gallery {
  img {
    margin: 0 24px;
  }
}

.pricing__option {
  max-width: 333px;
  border-radius: 20px;
  background: #f2f2f2;
  padding: 16px;
}

.pricing__option.premium {
  max-width: 373px;
  padding: 44.805px 17.922px 17.922px 17.922px;

  border: 1.12px solid #221f20;
  border-radius: 22.402px;
  box-shadow: -11.201px 14.562px 22.402px 0px rgba(0, 0, 0, 0.4);
  background: #ec9747;
}
